
h1 {

}
img {
    max-width: 35vw;
    max-height: 35vh;
    /* margin-bottom: 1rem; */
}
ul {
    padding: 0;
    list-style-type: none;
}
li {

}
p {

}
.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.jcc {
    justify-content: center;
}
.jcsa {
    justify-content: space-around;
}
.jcsb {
    justify-content: space-between;
}
.aic {
    align-items: center;
}
.bd1 {
    border-color: black;
    border-style: solid;
    border-width: 1px;
}
.d-n {
    display: none;
}
/* .w100 {
    width: 100vw;
}
.h100 {
    height: 100vh;
} */
.bod {
    min-width: 30vw;
    min-height: 30vh;
}
.h {
    font-weight: 600;
    background-color: white;
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
}
.container {
    
    background-color: white;
    border-style: solid;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-radius: 1rem;
    padding: 1rem;
}
#ulOneContainer {
    margin: 1rem;
}
.bio {
    background-color: white;
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-radius: 1rem;
    padding: 0px 1rem;
    margin: 0.5rem;

}
#ulTwoContainer {
    margin: 1rem;

}
